In [ ]:
a = [5268, 4325, 25, 14, 12, 32]

b = (4, 9, 2, 3, 7)

c = {"ali", 0, 10, 15, 9}

d = {"name": "ali", "age": 27, "experience_level": 4}

In [ ]:
for value in a:
    print(value)

5268
4325
25
14
12
32

In [ ]:
for value in b:
    print(value)

4
9
2
3
7

In [ ]:
for value in c:
    print(value)

0
9
10
ali
15

In [ ]:
for value in d:
    print(value)

name
age
experience_level

In [ ]:
for key in d.keys():
    print(key)

name
age
experience_level

In [ ]:
for value in d.values():
    print(value)

ali
27
4

In [ ]:
for item in d.items():
    print(item)

('name', 'ali')
('age', 27)
('experience_level', 4)

In [ ]:
a = [5268, 4325, 25, 14, 12, 32]

for value in a:
    print(value)
    print(value ** 2)
    print(value * 3)
    print("--------------------------------")
print("Done")

5268
27751824
15804
--------------------------------
4325
18705625
12975
--------------------------------
25
625
75
--------------------------------
14
196
42
--------------------------------
12
144
36
--------------------------------
32
1024
96
--------------------------------
Done

In [ ]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for value in a:
    print(value)

0
1
2
3
4
5
6
7
8
9

In [ ]:
value = 0

while value < 10:
    print(value)
    value = value + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
value = 0

while value < 10:
    x = value
    y = value ** 2
    print(x, y)
    value = value + 1

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [ ]:
v = 10

if v < 20:
    print("v is less than 20")
    print("Done")
    print("my name is ali")

v is less than 20
Done
my name is ali

In [ ]:
temperature = 18

In [ ]:
if temperature > 30:
    print("It is very hot outside.")
    print("I will never go outside with this heat.")
elif temperature > 20:
    print("It is quite hot outside.")
    print("I will go outside only with my car.")
elif temperature > 8:
    print("It is so nice outside.")
    print("Let's go and run together.")
else:
    print("It is so cold outside.")
    print("Stay inside and turn on boilers.")

print("Done")

It is so nice outside.
Let's go and run together.
Done

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for value in a:
    if value % 2 == 0:
        print(value)

2
4
6
8
10

In [ ]:
value = 1

while value <= 10:
    if value % 2 == 0:
        print(value)
    value = value + 1

2
4
6
8
10

In [ ]:
temperature = 50

if temperature > 30:
    print("It is very hot outside.")
    print("I will never go outside with this heat.")
elif temperature > 20:
    print("It is quite hot outside.")
    print("I will go outside only with my car.")

print("Done")

It is very hot outside.
I will never go outside with this heat.
Done

In [ ]:
temperature = 50

if temperature > 30:
    print("It is very hot outside.")
    print("I will never go outside with this heat.")
if temperature > 20:
    print("It is quite hot outside.")
    print("I will go outside only with my car.")

print("Done")

It is very hot outside.
I will never go outside with this heat.
It is quite hot outside.
I will go outside only with my car.
Done

# Factorial Calculation

In [ ]:
n = 10

factorial_n = 1
i = n
while i >= 1:
    factorial_n = factorial_n * i
    i = i - 1
print(factorial_n)

3628800

In [ ]:
factorial_n = 1
for number in range(1, n + 1):
    print(number, factorial_n)
    factorial_n = factorial_n * number
    print(number, factorial_n)
    print("---------------------------")
# print(factorial_n)

1 1
1 1
---------------------------
2 1
2 2
---------------------------
3 2
3 6
---------------------------
4 6
4 24
---------------------------
5 24
5 120
---------------------------
6 120
6 720
---------------------------
7 720
7 5040
---------------------------
8 5040
8 40320
---------------------------
9 40320
9 362880
---------------------------
10 362880
10 3628800
---------------------------

In [ ]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
list(range(5, 21, 2))

[5, 7, 9, 11, 13, 15, 17, 19]

# Fibonacci Calculation

In [ ]:
n = 8

a = [0] * n
print(a)
a[0] = 1
print(a)
a[1] = 1
print(a)

for i in range(2, n):
    a[i] = a[i - 1] + a[i - 2]
    print(a)

print(a[-1])

[0, 0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0, 0]
[1, 1, 0, 0, 0, 0, 0, 0]
[1, 1, 2, 0, 0, 0, 0, 0]
[1, 1, 2, 3, 0, 0, 0, 0]
[1, 1, 2, 3, 5, 0, 0, 0]
[1, 1, 2, 3, 5, 8, 0, 0]
[1, 1, 2, 3, 5, 8, 13, 0]
[1, 1, 2, 3, 5, 8, 13, 21]
21

In [ ]:
[0] * 8

[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a = [0] * n
a[0] = 1
a[1] = 1

a

[1, 1, 0, 0, 0, 0, 0, 0]

In [ ]:
list(range(2, n))

[2, 3, 4, 5, 6, 7]

In [ ]:
n = 8

a = []
print(a)
a.append(1)
print(a)
a.append(1)
print(a)

for i in range(2, n):
    value_i = a[i - 1] + a[i - 2]
    a.append(value_i)
    print(a)

print(a[-1])

[]
[1]
[1, 1]
[1, 1, 2]
[1, 1, 2, 3]
[1, 1, 2, 3, 5]
[1, 1, 2, 3, 5, 8]
[1, 1, 2, 3, 5, 8, 13]
[1, 1, 2, 3, 5, 8, 13, 21]
21

In [ ]:
n = 8

a = 1
b = 1

for index in range(2, n):
    c = a + b
    a = b
    b = c

print(c)

21

# Prime Number Evaluation

In [ ]:
n = 11371


is_prime = True
for x in range(2, n):
    if n % x == 0:
        is_prime = False

print(is_prime)

852 µs ± 268 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
n = 11371


is_prime = True
upper_bound = int(n ** 0.5) + 1
for x in range(2, upper_bound):
    if n % x == 0:
        is_prime = False
        break

print(is_prime)

5.95 µs ± 1.69 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
852/6

142.0

# Break and Continue

In [ ]:
for number in range(1, 11):
    print(number)
    if number % 3 == 0:
        continue
    print(number)

1
1
2
2
3
4
4
5
5
6
7
7
8
8
9
10
10

In [ ]:
for number in range(1, 11):
    if number % 3 == 0:
        break
    print(number)

1
2

In [ ]:
for number in range(1, 11):
    print(number)
    if number % 3 == 0:
        pass
    print(number)

1
1
2
2
3
3
4
4
5
5
6
6
7
7
8
8
9
9
10
10

In [ ]:
for i in range(3):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2

In [ ]:
for i in range(3):
    for j in range(3):
        if j == 1:
            continue
        print(i, j)

0 0
0 2
1 0
1 2
2 0
2 2

In [ ]:
for i in range(3):
    for j in range(3):
        if j == 1:
            break
        print(i, j)

0 0
1 0
2 0